---
layout: default
title: Yaodong Zhao
---

{% assign posts = site.posts | sort: "created_date" | reverse %}

<section class="content-card">
  <header class="mb-6">
    <h2>Recent Posts</h2>
  </header>

  {% if posts.size > 0 %}
  <ul>
    {% for post in posts limit:10 %}
    <li class="post-item">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
      <time datetime="{{ post.created_date | date: '%Y-%m-%d' }}">
        {{ post.created_date | date: "%b %d, %Y" }}
      </time>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="meta">No posts found.</p>
  {% endif %}
</section>
