---
layout: default
---

<main class="max-w-3xl mx-auto pt-8 space-y-8">
  <section class="space-y-2">
    {% if content != "" %}
      {{ content }}
    {% endif %}
    <header class="flex flex-col space-y-1">
      <h2 class="inline font-bold text-3xl leading-relaxed">
        {% if layout.title_prefix %}{{ layout.title_prefix }} {% endif %}{{ page.title }}
      </h2>
    </header>

    {% if page.posts.size > 0 %}
      <ul class="grid gap-4 list-none p-0">
        {% for post in page.posts %}
        <li>
          {% include post.html post=post show_category=false %}
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-stone-500 dark:text-stone-400 italic text-sm">No posts found</p>
    {% endif %}
  </section>
</main>
